.abCompareMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 70%;
  max-width: 500px;
}

.resultCardParent {
  text-align: left;
  width: 60%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
  max-width: 700px;
}

mat-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.individual-res-img {
  position: relative;
  height:30%;
  max-height:300px;
}

.mat-card-image {
  width: 40%;
}

.card-content-wrapper {
  text-align: center;
}

.input-word {
  text-align: center;
}

.label {
  font-size: 20px;
  color:white;
  background-color: black;
  padding: 20px;
  margin: 15%;
}

.label-result {
  font-weight: bold;
  background-color: Green;
}

.label-similarity-percentage{
  background-color: white;
  color: black;
}

.label-confidence {
  background-color: white;
  color: black;
}

.result-data {
  text-align: center;
}

.wordlist-holder {
  text-align: center;
}

.text-result {
  text-align: right;
  font-size: 15px;
}

.combined-image-label {
  text-align: center;
}
