<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="abCompareMain">
    <img class="logo" src="../assets/logo-wording.png" />
    <br><br>
    <form (submit)="onSubmit(compareForm)" #compareForm="ngForm">

        <h3>A - Compare</h3>
        <mat-form-field appearance="outline">
            <mat-label>A - Compare</mat-label>
            <input matInput name="stringA" placeholder="Source String" ngModel #stringA="ngModel"
                (click)="this.searchErrorA = false">
        </mat-form-field>
        <mat-error *ngIf="searchErrorA">Please input a source string.</mat-error>

        <h3>B - Compare</h3>
        <mat-form-field appearance="outline">
            <mat-label>B - Compare</mat-label>
            <input matInput name="stringB" placeholder="Destination String" ngModel #stringB="ngModel"
                (click)="this.searchErrorB = false">
        </mat-form-field>
        <mat-error *ngIf="searchErrorB">Please input a string to be compared against.</mat-error>


        <br>

        <button mat-raised-button color="primary" type="submit">Compare</button>

    </form>
</div>

<div *ngIf="this.pending" style="padding-top:40px; padding-bottom:40px">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="this.queried" id="compareResults">

    <mat-card *ngIf="this.queried" id="resultCardParent">
        <div style="padding-top:0px; padding-bottom: 20px">
            Comparison done in {{response.responseTime}} seconds.
        </div>

        <!--- Quek Test -->
        <div class="container">
          <div class="row">
            <div class="col-sm-5 result-data">
              <div class="col-sm-12">
                <mat-card class="label label-result" [style.background-color]="response.results.phonetic_similar ? 'red': 'green'">
                  {{response.results.result_phonetic}}
                </mat-card>
              </div>

              <div class="col-sm-12">
                <mat-card class="label label-similarity-percentage">
                    <p>{{(1 - response.results.percentage_difference)* 100 + "%"}}</p>
                    <p class="text-result">Similar</p>
                </mat-card>
              </div>

              <div class="col-sm-12">
                <mat-card class="label label-confidence">
                  <p>{{response.results.confidence_phonetic}}</p>
                  <p class="text-result">Confidence</p>
                </mat-card>

              </div>

              <div class="col-sm-12">
                <mat-card class="label">
                  <mat-card-title><h2>{{response.results.tm1}} VS {{response.results.tm2}}</h2></mat-card-title>
                  <img [src]="'http://128.199.159.89:7000/' + response.results.image_title_combined"
                            onerror="this.src = '../assets/PlaceholderImage.svg'" />
                </mat-card>
              </div>

            </div>

            <div class="col-sm-6">
              <div class="col-sm-12">
                <mat-card>
                    <mat-card-header class="input-word">
                        <mat-card-title><h2>{{response.results.tm1}}</h2></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content-wrapper">
                        <img mat-card-image [src]="'http://128.199.159.89:7000/' + response.results.image_title1"
                            onerror="this.src = '../assets/PlaceholderImage.svg'" />

                        <mat-card>
                            <mat-card-content>
                                <!-- {{response.results.tm1}}: -->
                                <mat-chip-list>
                                    <mat-chip class="wordlist-holder" *ngFor="let wordList of response.results.word1_list">
                                        {{wordList}}
                                    </mat-chip>
                                </mat-chip-list>

                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>
              </div>

              <div class="col-sm-12">
                <mat-card>
                  <mat-card-header class="input-word">
                      <mat-card-title><h2>{{response.results.tm2}}</h2></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="card-content-wrapper">

                      <img mat-card-image [src]="'http://128.199.159.89:7000/' + response.results.image_title2"
                          onerror="this.src = '../assets/PlaceholderImage.svg'" />

                      <mat-card>
                          <mat-card-content>
                              <!-- {{response.results.tm2}}: -->
                              <mat-chip-list>
                                  <mat-chip class="wordlist-holder" *ngFor="let wordList of response.results.word2_list">
                                      {{wordList}}
                                  </mat-chip>
                              </mat-chip-list>
                          </mat-card-content>
                      </mat-card>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div> <!--row-->
        </div> <!--container-->
        <!---------------->


    </mat-card>

</div>

<!-- <div class="left-panel">
    Left panel
</div>
<div class="right-panel">
    Right Panel
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{response.results.tm1}} This is new panel</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table>
                <td>
                    <img class="individual-res-img"
                        [src]="'http://128.199.159.89:7000/' + response.results.image_title1"
                        onerror="this.src = '../assets/PlaceholderImage.svg'" />

                </td>
                <td style="text-align:top">
                    <mat-chip-list>
                        <mat-chip *ngFor="let wordList of response.results.word1_list">
                            {{wordList}}
                        </mat-chip>
                    </mat-chip-list>

                </td>
            </table>

        </mat-card-content>
    </mat-card>
</div> -->
