.abCompareMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 70%;
  max-width: 500px;
}

.resultCardParent {
  text-align: left;
  width: 60%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
  max-width: 700px;
}

mat-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.individual-res-img {
  position: relative;
  height:30%;
  max-height:300px;
}
