.searchpagemain {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
    width: 70%;
    max-width: 708px;
}

mat-form-field {
    width: 100%;
    max-width: 700px;
}