<div class="searchpagemain">
    <img class="logo" src="../assets/logo-wording.png" />
    <br><br>
    <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput name="searchString" placeholder="Any trademark you want to search 😍" ngModel
                #searchString="ngModel" (click)="this.searchError = false">
        </mat-form-field>
        <mat-error *ngIf="searchError">Please input a search string.</mat-error>
        <br>
        <button mat-raised-button color="primary" type="submit">Search</button>
        <span style="padding-left:5%"></span>
        <button mat-raised-button>Random Trademark</button>

    </form>
</div>
<div *ngIf="this.queried || this.pending" id="searchResults">
    <div *ngIf="this.pending" style="padding-top:40px; padding-bottom:40px">
        <mat-spinner></mat-spinner>
    </div>
    <mat-card *ngIf="this.queried" style="text-align:left;">
        <div style="padding-top:20px; padding-bottom: 20px">
            Query returned {{response.results.length}} results in {{response.responseTime}} seconds.
        </div>
        <div *ngIf="response.results.length > 0">
            <mat-card *ngFor="let result of response.results" (click)="resultClick(result.number)" id="result-card">
                <mat-card-header>
                    <img mat-card-avatar
                        [src]="'https://trademark-space.nyc3.digitaloceanspaces.com/img/' + result.number + '.jpg'"
                        onerror="this.src = '../assets/PlaceholderImage.svg'" />
                    <mat-card-title>{{result.brand}}</mat-card-title>
                    <mat-card-subtitle>{{result.holder}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    ID : {{result.number}} <br>
                    Source : {{result.source}} <br>
                    Status : {{result.status}} <br>
                    Relevance : {{result.relevance}} <br>
                    Origin : {{result.origin}} <br>
                    App. Date : {{result.applicationdate}} <br>
                    Text OCR : {{result.textocr}} <br>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>

</div>