.searchpagemain {
  height: 250px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 70%;
  max-width: 500px;
}

mat-form-field {
  width: 100%;
  max-width: 700px;
}

mat-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#searchResults {
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#result-card {
  margin-bottom: 20px;
}

.trademark-logo {
  width: 50%;
  max-width: 200px;
}
