<div class="searchpagemain" style="text-align: center; width:80%;">

    <img class="logo" src="../assets/logo-wording.png" />
    <br><br>
    <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput name="searchString"
                placeholder="Any trademark you want to search 😍"
                ngModel #searchString="ngModel">
        </mat-form-field>
        <mat-error *ngIf="searchError">Please input a search string.</mat-error>
        <br>
        <button mat-raised-button color="primary" type="submit">Search</button>
        <span style="padding-left:5%"></span>
        <button mat-raised-button>Random Trademark</button>

    </form>

</div>